
    @media (max-width: 1000px) {
        /* Tambahkan CSS untuk lesson */
        .menu {
          width: 50%;
          margin-bottom: 50px;
        }
        .main .container h1{
            font-size:42px;
            padding:120px 20px 100px 20px;
        }
        .main .container .tagline{
            font-size:34px;
            color:#fff;
        }
        .footer-col{

            width:28%;
        }
        .social-links a{
            margin-bottom:20px;
        }
    }
    
    @media (max-width: 670px) {
        .header-list{
            display:none;
        }
        .logo-menu{
            display:inline;
            float:right;
            line-height:90px;
            padding-right:20px;
        }
        
        .menu {
          width: 100%;

        }
        .clear-foot{
            padding-bottom:10px;
        }
        .row{
            flex-direction: column;
        }
        .footer-col{
            margin: 0 auto 20px auto;
        }
      }
