body{
    background-color: #161618;
}
h1{
    color: #f5eded;
}
.logo{
    position:absolute;
    width:124px;
}


.container{
    height:760px;
    background-color:green;
    width:1170px;

}
.container h1{
    color:white;
}
